@media (max-width: 1024px) {
    body {
        font-size: 1.8rem
    }
}

@media (max-width: 768px) {
    body {
        font-size: 1.5rem
    }
}

@media (max-width: 576px) {
    body {
        font-size: 1.2rem
    }
}
