@import "variables";
@import "body";
@import "header";
@import "main";
@import "footer";
@import "media";





/*
.servicios_img {
width: 400px;
height: 400px;}


.servicios_txt
{text-align: center;
font-size: 2rem;
font-weight: bolder;}

.asdasdasd img{
    width: 5%;
    height: 5%;
    object-fit: cover;
    display: flex;
    justify-content: space-evenly;
}

.ColorRed {text-align: center;
color: red;
font-family: Alex Brush;
font-size: 90px;
text-decoration: underline;
}

.ColorBlue {
    color: blue;
    text-decoration: underline;
    font-style: italic;}

.ColorGreen {
    color: green;
text-decoration: underline;}

#BoxModel {
    padding: 50px;
    width: 1700px;
    margin-right: auto;
    border: 15px solid blue;
}
*/